<!-- <%- include('layouts/header.ejs') %>
    <div id="add-todo">
        <h1>Create Todo</h1>
        <label for="input-todo">Title</label>
        <br>
        <input type="text" placeholder="Input title todo" required id="todo">
        <br>
        <label for="text-todo">Text Todo</label>
        <br>
        <textarea name="text-todo" placeholder="kegiatan hari ini?" id="" cols="30" rows="10"></textarea>
        <br>
        <button type="submit" class="btn btn-secondary">Add</button>
        <br>
        <br>
        <a href="/" class="btn btn-primary">Back</a>
    </div>
    <%- include('layouts/footer.ejs') %>0 -->